#编译输出文件
GNU ARM v*

build
build*
#ota文件夹*.gpl
output_gbl

artifact

#备份文件IDEv4
*.bak

#
*.html


#常用文件或资源的快速链接
.projectlinkstore


#保留在此计算机编辑的软件组件列表
#.uceditor

#*.pintool
#*.slcp

bin
tool/*.log
tool/old_nvm_file.s37
tool/new_nvm_file.s37
tool/new_nvm_file_r.s37

!tool/bin
tool/key/tmp/

switch_3/switch_3_all.hex
git_version.h
